@import "../../utils/commons.scss";

.container {
  overflow-x: hidden;
  .coloredText {
    color: #8d03f9;
  }
  .confirmation {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    color: white;
    @extend .flexRow;

    justify-content: center;
    div {
      padding: 40px;
      background-color: #252525;
      box-shadow: 0 0 20px white;
      h3 {
        color: white;
      }
    }
  }
  .coloredButton {
    cursor: pointer;
    background-color: #ff4862;
    padding: 10px 12px;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 20px white;
    }
  }
  .gradientText {
    background: radial-gradient(
      154.61% 714.48% at 8.37% 21.66%,
      #ac86fe 2.65%,
      #fe869c 42.71%,
      #4b8aff 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradientLine1 {
    height: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    background: radial-gradient(
      154.61% 714.48% at 8.37% 21.66%,
      #fcc22f 2.65%,
      #fe869c 42.71%,
      #1164ff 100%
    );
  }
  .gradientLine2 {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    background: radial-gradient(
      154.61% 714.48% at 8.37% 21.66%,
      #fcc22f 2.65%,
      #fe869c 42.71%,
      #1164ff 100%
    );
  }
  .gradientButton {
    color: white;
    position: relative;
    @extend .flexRow;
    justify-content: center;
    min-width: 200px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(110deg, #ea4c89, #4b8aff);
    border: 3px solid #1f1f1f;
    overflow: hidden;
    border-radius: 1rem;
    padding: 15px 20px;
    height: 60px;
    span,
    img {
      position: relative;
      z-index: 3;
    }
    img {
      margin-right: 0.8rem;
    }
    transition: all 0.5s;
    @media screen and (max-width: 900px) {
      font-size: 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      left: -100%;
      height: 100%;
      width: 100%;
      background: linear-gradient(110deg, #4b8aff, #ea4c89);
      border-radius: 0.9rem;
      transition: left 0.5s;
    }
    &:hover {
      box-shadow: 0px 0px 20px white;
    }
    &:focus {
      &::after {
        left: 0;
      }
    }
  }
  .hero {
    padding: 0rem 5rem;
    text-align: center;
    background-color: #252525;
    position: relative;
    .content {
      position: relative;
      z-index: 1;
    }
    header {
      @extend .flexRow;
      // position: fixed;
      align-items: flex-start;
      padding-top: 30px;
      width: 100%;
      a {
        text-decoration: none;
        margin-left: auto;
        margin-right: 3rem;
        @media screen and (max-width: 800px) {
          margin-right: 0;
        }
      }
      button {
        @media screen and (max-width: 800px) {
          min-width: fit-content;
          padding: 10px 15px;
          margin-right: 0;
        }
      }
      > .imageContainer {
        padding-left: 2rem;
        @extend .flexRow;

        .logoText {
          margin-left: 1rem;
        }
      }
      @media screen and (max-width: $screen-sm) {
        padding-left: 0;
        padding-top: 2rem;
        margin: 0 -5rem;
        margin-right: -30rem;
        .imageContainer {
          img {
            width: 70px;
          }
        }
      }
      @media screen and (max-width: 800px) {
        width: calc(100% + 8rem);
      }
    }
    .headingContainer {
      padding: 1rem 0rem;
      @media screen and (max-width: 500px) {
        margin-top: 7rem;
      }
    }
    .heroHeading {
      text-align: center;
    }
    p {
      margin-top: 1rem;
      font-weight: 900;
    }
    .centerGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      border-radius: 50%;
      // background: linear-gradient(180deg, #1164ff 0%, #ac86fe 100%);
      filter: blur(700px);
      opacity: 0.4;
    }
    .bottomImagesContainer {
      @extend .flexRow;
      margin-top: -5rem;
      justify-content: space-between;
      img {
        width: 400px;
      }
      @media screen and (max-width: 1100px) {
        img {
          width: 300px;
        }
      }
      @media screen and (max-width: 1000px) {
        img {
          width: 250px;
        }
      }
      @media screen and (max-width: 800px) {
        img {
          width: 200px;
        }
        button {
          border-radius: 30px;
        }
      }
      @media screen and (max-width: 650px) {
        img {
          width: 150px;
        }
      }
      @media screen and (max-width: 650px) {
        justify-content: center;
      }
      @media screen and (max-width: 500px) {
        margin-top: 0;
        position: relative;
        padding-top: 6rem;
        margin: 4rem -3rem 0rem -3rem;
        button {
          position: absolute;
          top: 0;
        }
        .greenFlower {
          margin-right: auto;
        }
        .galaxy {
          margin-left: auto;
        }
      }
    }
    .colorfulFlower {
      top: 13vh;
      position: absolute;
      right: 2rem;
      @media screen and (max-width: 1100px) {
        img {
          width: 200px;
        }
      }
      @media screen and (max-width: 1000px) {
        top: 15vh;
      }
      @media screen and (max-width: 800px) {
        top: 15vh;
        img {
          width: 150px;
        }
      }
      @media screen and (max-width: 600px) {
        top: 9vh;
        right: 0;
        img {
          width: 100px;
        }
      }
    }
    .modalContainer {
      position: fixed;
      @extend .flexRow;
      justify-content: center;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    .modal {
      position: absolute;
      overflow: auto;
      box-shadow: 0px 0px 20px white;
      padding: 2rem;
      padding-top: 60px;
      @extend .flexCol;
      align-items: flex-start;
      z-index: 4;
      min-width: 60vw;
      background-color: #252525;
      max-height: 90vh;
      button {
        cursor: pointer;
      }
      h3 {
        font-size: 4rem;
      }
      p {
        align-self: flex-start;
        font-size: 1.7rem;
        text-align: left;
      }
      .header {
        width: 100%;
        @extend .flexRow;
        button {
          @extend .flexRow;
          align-items: center;
          margin-left: auto;
          border-radius: 50%;
          border: none;
          padding: 7px 8px;
          background: none;
          &:hover {
            background-color: rgb(63, 63, 63);
          }
        }
      }
      .inputs {
        @extend .flexCol;
        margin-top: 2rem;
        width: 100%;
        .input,
        .textArea {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          width: 100%;
          outline: none;
          color: white;
          padding: 1rem;
          background-color: #2b2b2b;
          font-size: 1.5rem;
          border: none;
          margin: 10px;
          resize: none;
        }
      }
      .submit {
        align-self: flex-end;
        padding: 10px 20px;
        background: linear-gradient(110deg, #ea4c89, #4b8aff);
        border: none;
        border-radius: 5px;
        color: white;
      }
      @media screen and (max-width: 1300px) {
        .header {
          margin-top: 60px;
        }
      }
      @media screen and (max-width: 1000px) {
        .header {
          margin-top: 20px;
        }
      }
      @media screen and (max-width: 900px) {
        h3 {
          font-size: 5rem;
        }
        p {
          font-size: 2.3rem;
        }
        input,
        textarea {
          padding: 10px 5px !important;
          font-size: 2rem !important;
        }
      }
      @media screen and (max-width: 400px) {
        padding-top: 10px !important;
        p {
          margin-top: 3rem;
          font-size: 3rem;
        }
        input,
        textarea {
          padding: 15px 10px !important;
          font-size: 2.4rem !important;
        }
      }
    }
    @media screen and (max-width: 800px) {
      background: black;
      .centerGradient {
        background: linear-gradient(180deg, #1164ff 0%, #ac86fe 100%);
      }
    }
  }
  .gridContainer1,
  .gridContainer2,
  .gridContainer3,
  .gridContainer4 {
    background-image: url("../../assets/images/grid.png");
    background-color: #212121;
    @media screen and (max-width: 800px) {
      background-size: contain;
    }
  }
  .gridContainer4 {
    @media screen and (max-width: 800px) {
      background-image: none;
    }
  }
  .iconicLaunch {
    padding: 10rem 5rem;
    position: relative;
    @extend .flexRow;
    .imageContainer {
      position: absolute;
      z-index: 0;
      right: 0;
      text-align: center;
      img {
        width: 400px;
      }
    }
    .text {
      position: relative;
      z-index: 1;
      width: 79%;
      .firstPara {
        margin-top: 3rem;
      }
      p {
        padding: 0.4rem 0rem;
      }
    }
    @media screen and (max-width: 1100px) {
      .imageContainer {
        bottom: 0;
        img {
          width: 300px;
        }
      }
    }
    @media screen and (max-width: 770px) {
      flex-direction: column-reverse;
      .text {
        width: 100%;
      }
      padding-bottom: 0;
      .imageContainer {
        margin-top: -10rem;
        position: relative;
      }
    }
  }
  .hypeBombs {
    padding: 10rem 5rem;
    position: relative;
    @extend .flexRow;

    .imageContainer {
      z-index: 0;

      position: absolute;
      right: 0;
      margin-right: -10rem;
      bottom: 100px;
      img {
        width: 400px;
      }
    }
    .text {
      position: relative;
      z-index: 2;
      width: 65%;
      padding-bottom: 100px;
      .firstPara {
        margin-top: 3rem;
      }
      p {
        padding: 0.4rem 0rem;
      }
    }
    @media screen and (max-width: 1200px) {
      .imageContainer {
        bottom: 50px;
        img {
          width: 300px;
        }
      }
    }
    @media screen and (max-width: 770px) {
      padding-top: 0;
      margin-top: 10rem;
      h1 .imageContainer {
        bottom: 30px;
        position: relative;
        align-self: flex-end;
        margin-right: -5rem;
        img {
          width: 250px;
        }
      }
      .text {
        width: 100%;
      }
    }
    @media screen and (max-width: 700px) {
      // padding-bottom: 0;
      .imageContainer {
        display: none;
        img {
          width: 200px;
        }
      }
    }
  }
  .companies {
    padding: 10rem 5rem;
    position: relative;
    @extend .flexCol;
    align-items: center;
    background-image: url("../../assets/images/noise.png");
    background-color: #252525;
    background-size: contain;
    text-align: center;
    .companiesList {
      display: grid;
      margin-top: 4rem;
      grid-template-columns: repeat(4, 1fr);
    }

    > .imageContainer {
      position: absolute;
      bottom: -30px;
      left: 0;
      img {
        width: 200px;
      }
    }

    @media screen and (max-width: 1050px) {
      padding: 150px;
      .companiesList {
        grid-template-columns: repeat(3, 1fr);
      }
      .imageContainer {
        bottom: 0px;
        img {
          width: 150px;
        }
      }
    }
    @media screen and (max-width: $screen-sm) {
      padding: 10rem 2rem;
      text-align: center;
      .companiesList {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (max-width: 500px) {
      padding-bottom: 10px;
      .imageContainer {
        position: relative;
      }
    }
  }
  .gridContainer2 {
    position: relative;
    padding: 15rem 0rem 10rem 0rem;
    .gradientLine1 {
      top: auto;
      bottom: 0;
    }
  }
  .cultureCult {
    padding: 10rem 5rem 10rem 0rem;
    @extend .flexRow;
    background-image: linear-gradient(70deg, #252525 20%, #354fad, #c74569);
    .imageContainer {
      margin-top: -25rem;
      img {
        width: 450px;
      }
    }
    .textContainer {
      width: 50%;
      p {
        margin-top: 30px;
      }
    }
    @media screen and (max-width: $screen-lg) {
      padding: 10rem 3rem 10rem 0rem;
      .imageContainer {
        img {
          width: 400px;
        }
      }
      .textContainer {
        margin-left: 0rem;
      }
    }
    @media screen and (max-width: 1000px) {
      h1 {
        font-size: 6rem;
      }
    }
    @media screen and (max-width: 900px) {
      .imageContainer {
        img {
          width: 300px;
        }
      }
    }
    @media screen and (max-width: 570px) {
      flex-direction: column;
      .imageContainer {
        align-self: flex-start;
      }
      .textContainer {
        width: 100%;
        margin-left: 0;
        padding-left: 5rem;
      }
    }
  }
  .lightUp {
    padding: 13rem 5rem;
    padding-bottom: 0;
    @extend .flexCol;
    position: relative;
    h1 {
      span {
        text-shadow: 0px 0px 16px #ffffff;
      }
    }
    .starImages {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem 4rem;
      @extend .flexRow;
      .red {
        align-self: flex-start;
        margin-left: -8rem;
        margin-top: -3rem;
      }
      .yellow {
        align-self: flex-end;
        margin-right: -6rem;
        margin-bottom: 0rem;
      }
      .purple {
        width: 200px;
      }
      @media screen and (max-width: 800px) {
        width: 350px;
      }
      @media screen and (max-width: 600px) {
        img:nth-child(2) {
          width: 130px;
        }
        width: fit-content;
        img:first-child,
        img:last-child {
          width: 80px;
        }
        .red {
          margin-top: 5rem;
        }
        .yellow {
          margin-right: -10rem;
        }
      }
    }
    .imagesContainer {
      margin-top: 4rem;
      @extend .flexRow;
      flex-wrap: wrap;
      justify-content: center;

      .imageContainer {
        margin: 1.5rem 3rem;
        padding: 2rem;
        transition: all 1s ease-in-out;
        text-align: center; // box-shadow: 0px 0px 32px black;
        @extend .flexCol;
        img {
          width: 180px;
          transition: all 1s ease-in-out;
        }
        p {
          margin-top: 2rem;
        }
        &:hover {
          border-radius: 3rem;
          box-shadow: 0px 0px 10px white;
          img {
            transform: rotate(360deg);
          }
        }
      }
    }
    @media screen and (max-width: 1000px) {
      padding: 20rem 5rem;
      .imagesContainer {
        .imageContainer {
          img {
            width: 150px;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      text-align: center;
      padding-bottom: 0;
      .imagesContainer {
        margin: 0rem -5rem;
        margin-top: 8rem;
        .imageContainer {
          margin: 0 5px;
          margin-bottom: 4rem;
          img {
            width: 100px;
          }
        }
      }
    }
    @media screen and (max-width: 400px) {
      .imagesContainer {
        justify-content: space-evenly;
      }
    }
  }
  .how {
    padding: 5rem 0rem;
    padding-top: 8rem;
    padding-bottom: 0;
    background-image: url("../../assets/images/noise.png");
    background-color: #ac86fe;
    background-size: contain;
    @extend .flexCol;
    .cards {
      width: 100%;
      margin-top: 6rem;
      @extend .flexRow;
      justify-content: space-evenly;
      .card {
        cursor: pointer;
        max-width: 400px;
        @extend .flexCol;
        overflow: hidden;
        align-items: flex-start;
        padding: 4rem 2rem 2rem 2rem;
        flex: 1;
        border: 1px solid #c4c4c4;
        .imageForSmallScreen {
          display: none;
        }
        li {
          font-size: 2rem;
          color: #e2e2e2;
        }
        ul {
          margin-top: 2rem;
          margin-left: 2.5rem;
        }
        .imageContainer {
          margin-bottom: -2rem;
          margin-right: -2rem;
          transform: translate(2rem, 2rem);
          align-self: flex-end;
          @extend .flexCol;
          transition: all 1s;
        }
        p {
          font-weight: 900;
          font-size: 2.5rem;
        }
        &:hover {
          background-color: #ac86fe;
          li {
            color: white;
            opacity: 1;
          }
          .imageContainer {
            margin-bottom: -2rem;
            margin-right: -2rem;
            transform: translate(0rem, 0rem);
          }
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .cards {
        .card {
          min-height: 360px;
          p {
            font-size: 4rem;
          }
          li {
            font-size: 2.5 rem;
          }
          .imageContainer {
            img {
              width: 200px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      li {
        font-size: 2.5rem !important;
      }
    }
    @media screen and (max-width: 600px) {
      // text-align: center;
      // background-image: linear-gradient(
      //   20deg,
      //   #252525,
      //   #436ae8,
      //   #f78799,
      //   #9d78c4,
      //   #252525
      // );
      .cards {
        flex-direction: column;
        .card {
          user-select: none;
          cursor: initial;
          min-height: fit-content;
          // align-items: center;
          // border: none;
          .imageForSmallScreen {
            // display: flex;
          }
          .imageContainer {
            // display: none;
          }
          ul {
            margin: 0;
            margin-top: 4rem;
            // list-style: none;
            li {
              font-size: 2.5rem;
              margin: 5px;
              margin-left: 10px;
              color: white;
            }
          }
          &:hover {
            // background-color: initial;
            // ul {
            //   li {
            //     color: white;
            //     opacity: 1;
            //   }
            // }
          }
        }
      }
    }
    @media screen and (max-width: 450px) {
      .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .gridContainer3 {
    padding-top: 100px;
    background-size: cover;
    .images {
      .first,
      .second,
      .third,
      .fourth {
        @extend .flexRow;
        justify-content: center;
        width: 100%;
      }
      .first {
        justify-content: space-around;
      }
      .second {
        margin-top: -3rem;
        .ring,
        .flower {
          width: 300px;
          @media screen and (max-width: 1100px) {
            width: 200px;
          }
        }
      }
      .third {
        margin-top: -12rem;
        @media screen and (max-width: 1100px) {
          margin-top: -8rem;
        }
      }
      .fourth {
        margin-top: -12rem;
        @media screen and (max-width: 1100px) {
          margin-top: -8rem;
        }
      }
      .second,
      .third,
      .fourth {
        .flower,
        .badge,
        .ring {
          width: 300px;
          @media screen and (max-width: 1100px) {
            width: 250px;
          }
          @media screen and (max-width: 930px) {
            width: 200px;
          }
        }
      }
      @media screen and (max-width: $screen-lg) {
        .star {
          width: 80px;
        }
      }
      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }
    @extend .flexCol;
    .whoToTag {
      width: 100%;
      padding-left: 4rem;
      @extend .flexCol;
      h1 {
        align-self: flex-start;
      }
      .paraAndImage {
        @extend .flexRow;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        p {
          font-size: 2.5rem;
        }
        .left {
          margin: 4rem auto;
          margin-left: 0;
        }
        .right {
          margin-left: auto;
          img {
            width: 500px;
          }
        }
      }
      .input {
        margin-top: 2rem;
        @extend .flexRow;
        input {
          padding: 1rem;
          padding-right: 3rem;
          outline: none;
          border: none;
          color: white;
          border-bottom: 2px solid rgb(170, 170, 170);
          font-size: 2rem;
          background-color: transparent;
          &:focus {
            border-bottom: 2px solid white;
          }
        }
        button {
          @extend .flexRow;
          justify-content: center;
          border: none;
          background-color: transparent;
          border-radius: 50%;
          padding: 5px;
          margin-left: -2rem;
          width: fit-content;
        }
        img {
          width: 20px;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 1100px) {
        .paraAndImage {
          .right {
            img {
              width: 400px;
            }
          }
        }
      }
      @media screen and (max-width: 800px) {
        padding-top: 10rem;
      }
      @media screen and (max-width: 900px) {
        .paraAndImage {
          .right {
            img {
              width: 300px;
            }
          }
        }
      }
      @media screen and (max-width: 600px) {
        text-align: center;
        padding-right: 4rem;

        .paraAndImage {
          flex-direction: column;
          .left,
          .right {
            text-align: center;
            p {
              font-size: 3rem;
            }
            width: 100%;
            .input {
              justify-content: center;
              margin-top: 5rem;
              input {
                width: 70%;
              }
              button {
                margin-left: -5rem;
                margin-bottom: 1rem;
              }
            }
          }
          .right {
            display: flex;
            justify-content: flex-end;
            margin-right: -4rem;
          }
        }
      }
      @media screen and (max-width: 400px) {
        .paraAndImage {
          .left {
            .input {
              input {
                font-size: 3rem;
                width: 100%;
              }
            }
          }
          .right {
            img {
              width: 200px;
            }
          }
        }
      }
    }
  }
  footer {
    background-color: #000000;
  }
  .footerSubContainer {
    padding: 5rem;
    padding-bottom: 0rem;
    // background-image: linear-gradient(to bottom, #000104, #01318a);
    background-color: #000000;
    overflow: hidden;
    .contentForSmallScreen {
      display: none;
    }
    h1 {
      font-size: 4rem;
    }
    .content {
      padding: 5rem 0;
      @extend .flexRow;
      align-items: flex-start;
      justify-content: space-between;
    }
    .left,
    .right {
      width: 40%;
      p {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }

    .left {
      .chat {
        cursor: pointer;
        margin-top: 3rem;
        @extend .flexRow;
        align-items: center;
        font-size: 2rem;
        img {
          margin-left: 1rem;
        }
      }
      .copyright {
        margin-top: 4rem;
        font-size: 1.5rem;
      }
    }
    .right {
      text-align: right;
      .join {
        margin-top: 5rem;
      }

      .buttons {
        margin-top: 4rem;
      }
    }
    a {
      margin: 1rem !important;
    }
    .bottomLargeHeading {
      margin-bottom: -3.6rem;
      font-size: 9rem;
      color: #1aadff;
    }

    @extend .flexCol;
    .content {
      width: 100%;
    }
    .copyrightButtons {
      @extend .flexRow;
      width: 100%;
      justify-content: space-between;
      button {
        width: fit-content;
        cursor: pointer;
        color: white;
        border-radius: 1.5rem;
        background: transparent;
        padding: 1rem 2rem;
        border: 2px solid white;
        // margin: 1rem;
        &:hover {
          background: linear-gradient(110deg, #4b8aff, #ea4c89);
        }
      }
    }
    @media screen and (max-width: 1100px) {
      .image {
        img {
          width: 200px;
        }
      }
    }
    @media screen and (max-width: 800px) {
      .image {
        img {
          width: 150px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .content,
      .bottomLargeHeading,
      .copyrightButtons {
        display: none;
      }
      .contentForSmallScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-top: 7rem;
        }
        .icons {
          display: flex;
          justify-content: space-evenly;
          margin-top: 10px;
          a {
            display: flex;
            justify-content: center;
          }
          .icon {
            display: flex;

            justify-content: center;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid white;
            margin: 10px;
            &:hover {
              box-shadow: 0 0 10px white;
            }
          }
        }
        span {
          margin: 7rem auto;
          font-size: 2.4rem;
        }
      }
    }
  }
}
