@import "./utils//commons.scss";

@font-face {
  font-family: KTT;
  src: url("./assets/fonts/kyivType/KyivTypeTitling-Heavy3.otf");
}

@font-face {
  font-family: Gill-Sans;
  src: url("./assets/fonts/gillSans/Gill\ Sans.otf");
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cursorHover {
  width: 5rem !important;
  height: 5rem !important;
  background-color: transparent !important;
  border: 2px solid var(--clr-text-dark) !important;
}
html {
  // cursor: url("./assets/icons/cursor.svg"), auto;
  font-size: 14px;
  @media screen and (max-width: $screen-lg) {
    font-size: 11px;
  }
  @media screen and (max-width: $screen-md) {
    font-size: 9px;
  }
  @media screen and (max-width: 900px) {
    font-size: 7px;
  }
  @media screen and (max-width: 700px) {
    font-size: 6px;
  }
  @media screen and (max-width: 330px) {
    font-size: 6px;
  }
}

.container {
  font-family: Gill-Sans;
  color: white;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: KTT;
}

h1 {
  font-size: 7.5rem;
  @media screen and (max-width: 700px) {
    font-size: 6rem;
  }
}
h2 {
  font-size: 2.2rem;
}

p {
  font-size: 2.25rem;
  @media screen and (max-width: 700px) {
    font-size: 3rem;
  }
}
